.title-statistics{
    text-align: center;
    margin-top: 12%;
}

.statistics{
    margin-top: 15px;
    font-size: smaller;    
}
.subtitle-statistics{
    position: relative;
}

.subtitle-statistics:hover{
    opacity: initial;
}

.subtitle-statistics::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #e67e22;
    position: absolute;
    top: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease;
}

.subtitle-statistics:hover::after{
    left: 0%;
    width: 100%;
}

.subtitle-statistics-rest{
    position: relative;
}

.subtitle-statistics-rest:hover{
    opacity: initial;
}

.subtitle-statistics-rest::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #9b59b6;
    position: absolute;
    top: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease;
}

.subtitle-statistics-rest:hover::after{
    left: 0%;
    width: 100%;
}

.subtitle-statistics-holi{
    position: relative;
}

.subtitle-statistics-holi:hover{
    opacity: initial;
}

.subtitle-statistics-holi::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #c0392b;
    position: absolute;
    top: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease;
}

.subtitle-statistics-holi:hover::after{
    left: 0%;
    width: 100%;
}

.subtitle-statistics-credits{
    position: relative;
}

.subtitle-statistics-credits:hover{
    opacity: initial;
}

.subtitle-statistics-credits::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #2980b9;
    position: absolute;
    top: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease;
}

.subtitle-statistics-credits:hover::after{
    left: 0%;
    width: 100%;
}
