@import 'root.css';
@import 'style-days.css';
@import 'style-todays.css';
@import 'statistics.css';

*{
    text-decoration: none;
    margin: 0;
    padding: 0;

    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    background-image: url(../assets/images/background.jpg);   
}

section{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.title-month{
    margin: 0px 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: var(--background-color);
}

.arrows{
    opacity: 0.5;
}

.arrows:hover{
    cursor: pointer;
    opacity: initial;
}


.calendar{
    display: grid;

    padding: 10px 10px 0px;
    margin: 10px 0px 50px;
    width: 1500px;
    height: 1000px;
    border-radius: 5px;

    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-rows: 5% 17% 17% 17% 17% 17%;

    
    background: transparent;
}

.star{
    margin-left: 70.5%;
}



